body {
    background-color: #1f1f1fbf;
    color: #fff;
}

h1 {
    font-family: 'Aharoni', sans-serif;
    color: #fff !important;
    background-color: #29303cbf;
    font-size: 50pt;
    text-align: center;
}

header {
    background-color: #a1713abf;
    position: fixed;
    z-index: 5;
    width: 100%;
}

nav {
    margin: 0;
    padding: 40px auto;
}

.navigation li {
    width: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    display: inline-block;
}

.navigation ul {
    background-color: green;
    opacity: 70%;
    text-align: center;
}
